* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 13.5px;
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
a {
  text-decoration: none;
  color: white;
}
.logo {
  padding-left: 10px;
}
#welcome-section {
  height: 100vh;
  background-image: url(./images/wallpaper5);
  background-size: cover;
}
.intro {
  color: aliceblue;
  font-size: 2rem;
  margin-top: 50px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 40px;
}
.parag {
  margin-top: 10px;
  line-height: 25px;
  font-size: 1.2rem;
  color: aliceblue;
  width: 80%;
}
.btn {
  margin-top: 30px;
}
.btn a {
  color: white;
  background-color: rgb(187, 22, 55);
  padding: 12px 9px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}
.btn a:hover {
  opacity: 0.8;
}
/* Services */
.stitle {
  color: hsl(192, 84%, 20%);
  margin-top: 40px;
  text-align: center;
  font-size: 2.7rem;
}
#services {
  display: flex;
  justify-content: center;
  margin: 70px;
}
.service1 h1 {
  padding: 10px;
}
.s1 {
  margin-top: 12px;
}
.service1 {
  background-color: white;
  border: 1px solid ghostwhite;
  border-radius: 20px;
  box-shadow: 0px 0px 18px #0000002c;
  width: 14%;
  text-align: center;
  padding: 7px;
  margin: 20px;
  color: hsl(192, 87%, 15%);
}
.service1:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
/* End services */

/* Projects */
#projects {
  background-color: white;
  margin: 90px 40px;
}
.project-title {
  color: hsl(192, 84%, 20%);
  text-align: center;
  margin: 90px 0 40px;
  font-size: 2.7rem;
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 20px;
}
.project {
  width: 100%;
  background-color: hsl(192, 100%, 9%);
  border-radius: 10px;
}
.project img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project h2 {
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
.project:hover {
  opacity: 0.6;
}
/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/bg-footer-top-desktop.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10%;
}
.contact-us {
  display: flex;
  width: 100%;
  height: auto;
  background-color: hsl(192, 100%, 9%);
  color: white;
}

.contact-us-left {
  width: 30%;
  padding: 0 50px;
  margin: 0 60px;
  margin-left: 100px;
}
.contact-us-left p {
  font-weight: 500;
  line-height: 22px;
  padding: 15px 0;
  margin-left: 15px;
}
.info {
  display: flex;
  padding: 10px 0;
  margin-left: 15px;
}
.icon {
  padding-right: 15px;
}
.socialmedia-icons {
  display: flex;
  margin: 30px 10px;
  width: 120px;
  justify-content: space-between;
}
.socialmedia-icons img:hover {
  transform: scale(1.5);
}
.contact-us-right {
  margin-top: 20px;
  margin-left: 200px;
  width: 24%;
}
.contact-us-right h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
}
.contact-us-right p {
  line-height: 22px;
  padding-bottom: 20px;
}
#form {
  display: flex;
  width: 400px;
}
#input {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
}
#subscribe-btn {
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid pink;
  background-color: crimson;
  color: white;
}
#subscribe-btn:hover {
  opacity: 0.7;
}
/*  */
@media (max-width: 768px) {
  .logo {
    width: 160px;
  }
  #navbar {
    height: 170px;
    position: inherit;
    background-color: rgb(102, 101, 101);
  }
  .intro {
    font-size: 1.7rem;
    width: 80%;
  }
  #services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service1 {
    width: 70%;
  }
  .project {
    margin: 20px 50px;
    width: 350px;
  }
  .project img {
    height: 230px;
  }
  .projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
  }

  .contact-us-left {
    margin: 0;
    width: 100%;
  }
  .contact-us-right {
    padding: 0 60px;
    margin: 0;
    width: 100%;
  }
  .contact-us-right p {
    width: 300px;
  }
  #form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #input {
    width: 260px;
  }
  #subscribe-btn {
    padding: 10px;
    width: 100px;
    margin: 10px 160px;
  }
}
@media (min-width: 768px) {
  .contact-us {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
  }
  .contact-us-left p {
    margin: 0;
    padding-left: 15px;
    width: 300px;
  }
  .contact-us-right {
    margin-top: 30px;
  }
}
